<div class="brand">
  Block Value
</div>




<div class="canvas_container">
  <div id="google-map"></div>
  <canvas class="map" width="1000" height="540"></canvas>
  <!-- <img src="/assets/cursor.png" class="cursor" /> -->
</div>

<div class="color-picker">
  <div class="red" data-color="red" data-category="concrete">
    <span>Parking Lot <i class="em em-blue_car"></i></span>
  </div>
  <div class="yellow active" data-color="yellow" data-category="setback">
    <span>Street <i class="em em-wavy_dash"></i></span>
  </div>
  <div class="green" data-color="green" data-category="building">
    <span>Green Space <i class="em  em-deciduous_tree"></i></span>
  </div>
  <div class="blue" data-color="blue" data-category="sidewalks">
    <span>Building <i class="em em-house"></i></span>
  </div>
  <div class="black" data-color="black" data-category="???">
    <span>Random <i class="em  em-grey_question"></i></span>
  </div>

</div>

<div class="paintbrush-settings">
  <div class="brush-size">
    <span>Brush Size:</span>
    <input id="stroke-size" type="range" name="stroke-size" min="10" max="50" value="20" data-sizing="px">
  </div>
  <div id="toggle-draw-move-map" data-canvas-active="true">
    <span>Move Map</span>
  </div>
</div>

<div id="brush"></div>

<div class="analytics">
  <h3>hello</h3>

  <p>You've drawn 1000 points on the map</p>
</div>
