<h1>Block Value</h1>

<canvas class="map" width="2000" height="500"></canvas>

<div class="color-picker">
  <div class="red" data-color="red"> </div>
  <div class="yellow" data-color="yellow"> </div>
  <div class="green" data-color="green"> </div>
  <div class="blue" data-color="blue"> </div>
  <div class="black" data-color="black"> </div>
</div>

<script>

  var colors = document.querySelectorAll(".color-picker div")
  var mouseDown = false
  const canvas = document.querySelector('.map')
  const ctx = canvas.getContext('2d')

  // canvas.width = window.innerWidth
  // canvas.height = window.innerHeight

  ctx.fillRect(0,0,10,10)
  ctx.fillStyle = "#ffc600"


  function drawShit() {
    let x = event.offsetX
    let y = event.offsetY

    if(!mouseDown) return;
    ctx.beginPath();
    ctx.moveTo(x, y)
    ctx.fillRect(x, y, 10, 10)
    ctx.stroke();
      // send this shit to server eventually
      // console.log(
      //   event.offsetX,
      //   event.offsetY,
      // );
  }


  function setColor(){
    ctx.fillStyle = this.dataset.color
  }

  $(function () {

    colors.forEach(picker => picker.addEventListener('click', setColor))

    $(".map").on('mousedown', function() {
        mouseDown = true
    })

    $(".map").on('mouseup', function() {
        mouseDown = false
    })

    $(".map").on('mouseout', function() {
        mouseDown = false
    })
    $(".map").on('mousemove', drawShit)
  })


</script>

<style>

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .map {
    border: solid 0.3em;
    /*width: 2000;
    height: 500px;*/
    background-color: black;
    background-image:url('/assets/bg_golden_small.jpg');
    background-size: auto;
  }

  .color-picker {
    width: 100%;
    height: 10px;

  }
  .color-picker div {
    padding: 2em;
    width: 20%;
    float: left;
  }

  .color-picker div.red {
    background-color:red;
  }
  .color-picker div.yellow {
    background-color: yellow;
  }
  .color-picker div.green {
    background-color: green;
  }
  .color-picker div.blue {
    background-color: blue;
  }
  .color-picker div.black {
    background-color: black;
  }

</style>
