<div class="brand">
  Block Value
</div>




<div class="canvas_container">
  <div id="google-map"></div>
  <canvas class="map" width="2000px" height="500px"></canvas>
  <img src="/assets/cursor.png" class="cursor" />
</div>

<div class="color-picker">
  <div class="red" data-color="red" data-category="concrete">
    <span>Concrete</span>
  </div>
  <div class="yellow active" data-color="yellow" data-category="setback">
    <span>Setback</span>
  </div>
  <div class="green" data-color="green" data-category="building">
    <span>Building</span>
  </div>
  <div class="blue" data-color="blue" data-category="sidewalks">
    <span>Sidewalks</span>
  </div>
  <div class="black" data-color="black" data-category="???">
    <span>???</span>
  </div>

</div>

<div class="paintbrush-settings">
  <div class="brush-size">
    <span>Brush Size:</span>
    <input id="stroke-size" type="range" name="stroke-size" min="10" max="30" value="20" data-sizing="px">
  </div>
  <div id="toggle-draw-move-map" data-canvas-active="true">
    <span>Move Map</span>
  </div>
</div>

<div id="brush"></div>

<div class="analytics">
  analytics:
  <h3>hello</h3>
</div>
